.header_desing {
    background-color: #f7f7f7;
    height: 60px;
    border-radius: 5em;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}
@media (min-width: 900px) {
    .header_desing {
      width: 50%;
    }
}

.header_div {
    position: relative; 
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_div .menu_open {
    position: absolute;
    top: 100%; 
    right: 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
}

.header_div li {
    margin-right: 20px;
    list-style: none;
    background-color: #EAEAEA;
    padding: 5px;
    border-radius: 5em;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
    text-align: center;

}

.header_div li:hover{
    background-color: #E95ACB;
}

.header_div button {
    background-color: #EAEAEA;
    border: 1px solid transparent;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    width: 50px;
    border-radius: 5em;
}

@media (min-width: 1200px)  {
    .header_div button  {
    color: #111111;
    display: none;
    flex-direction: row;
  /*  background-color: red; */
}
}

.header_div .menu_closed {
    display: none;
}
@media (min-width: 1200px) {
    .header_div .menu_open,
    .header_div .menu_closed {
        display: flex;
        flex-direction: row;
        color: #111111;
    }
}

/*SECTION*/

.section_desing {
    background-color: #f7f7f7;
    height: 550px;
    border-radius: 1em;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 900px) {
    .section_desing {
      height: 700px;
      width: 50%;
    }
}

.img_perfil {
    border-radius: 1em;
    width:200px; 
    height:200px;
}

@media (min-width: 900px) {
    .img_perfil {
      width:250px;
      height:250px;
    }
}
@media (min-width: 1200px) {
    .img_perfil  {
      width:300px;
      height:300px;
    }
}


.section_desing_p {
    background-color: transparent;
    color: #111111;
    font-size: 14px;
    font-weight: 300;
}
@media (min-width: 900px) {
    .section_desing_p {
     font-size: 20px;
    }
}
@media (min-width: 1200px) {
    .section_desing_p {
     font-size: 40px;
    }
}


.section_link {
    color: #111111;
    border: 1px solid #111111;
    background-color: transparent;
    width: 50px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 5em;
    font-size: 20px;
}

.section_link:hover {
    background-color: #E95ACB;
    border: 1px solid transparent;
}



article {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 2px;
    gap: 20px;
}

@media (min-width: 1200px) {
    article {
    display: flex;
    flex-direction: row;
    }
}
/*SECTION ICONOS*/
.section_desing_icon {
    background-color: #f7f7f7;
    height: 170px;
    border-radius: 1em;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 900px) {
    .section_desing_icon {
      width: 50%;
    }
}
@media (min-width: 1200px) {
    .section_desing_icon  {
      width: 50%;
    }
}

.section_desing_icon li {
    font-size: 50px;
    list-style: none;
    margin: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.section_desing_icon li:hover {
      transform: translateY(-10px) scale(1.05);
}

.section_ul {
    height: 150px;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/*SECTION DOS*/
.section_desing_dos { 
    background-color: #f7f7f7;
    height: 850px;
    border-radius: 1em;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 900px) {
    .section_desing_dos {
      height: 700px;
      width: 50%;
    }
}
@media (min-width: 1200px) {
    .section_desing_dos {
      height: 380px;
    }
}

.section_desing_div {
    background-color: #EAEAEA;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    gap: 20px;
}
@media (min-width: 1200px) {
    .section_desing_div {
    display: flex;
    flex-direction: row;
    }
}

.img_montain {
    width: 200px;
    height: 200px;
    border-radius: 1em;
}
@media (min-width: 1200px) {
    .img_montain  {
    width: 150px;
    height: 150px;
    }
}


.section_desing_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.section_desing_article h1 {
    text-align: left;
    width: 100%;
    font-size: 15px;
}

.section_desing_article p {
    color: #666666;
    font-size: 15px;
}
@media (min-width: 1200px) {
    .section_desing_article p, .section_desing_article h1 {
    font-size: 17px;
    }
}

/*SECTION TRES*/
.section_desging_tres {
    background-color: #f7f7f7;
    height: 150px;
    border-radius: 1em;
    padding: 15px;
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media (min-width: 900px) {
    .section_desging_tres  {
    width: 50%;
    }
}



.section_desging_tres p{
    color: #666666;
    font-size: 15px;
}
@media (min-width: 1200px) {
    .section_desging_tres p {
    font-size: 17px;
    }
}